<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>
        {% block title %}
            
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <ul class="links">
            {% if current_user.is_authenticated %}
                <li id="img"><a href="{{ url_for('index') }}"><img src="../static/media/logo_branca.png" alt=""></a></li>
                <li><a href="{{ url_for('listar_produto') }}">Produtos</a></li>
                <li><a href="{{ url_for('cadastro_produto') }}">Cadastrar Produto</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('cadastro_usuario') }}">Cadastrar usuário</a></li>
                <li><a href="{{ url_for('login') }}">Login de usuário</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>