{% extends 'base.html' %}

{% block title %}
    Catálogo Web
{% endblock %}

{% block content %}
    <h1 class="pageTitle">Bem-vindo ao Catálogo Web</h1> 
    <p>Organize e gerencie seus produtos de forma prática e rápida.</p>
    <div class="sobre">
        <img src="static/media/livrinho_azul.png" alt="">
        <p>O Catálogo Web é um sistema simples e prático para organizar seus produtos em um só lugar.
        Com ele, você pode cadastrar, editar, visualizar e excluir itens de forma rápida e eficiente.
        Nosso objetivo é facilitar o gerenciamento de informações, trazendo clareza e agilidade para o seu dia a dia.</p>
    </div>
    {% include 'componente/mensagem.html'   %}
{% endblock %}